<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saltedge.sdk.sample" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".SampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity
            android:name=".features.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:launchMode="singleInstance"
            android:theme="@style/StartTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "saltedge://saltedge.com/connect" -->
                <data
                    android:scheme="saltedge"
                    android:host="saltedge.com"
                    android:pathPattern="/connect"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.ConnectionsActivity"
            android:label="@string/connections_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".features.ConnectActivity"
            android:label="@string/connect_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".features.AccountsActivity"
            android:label="@string/accounts"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".features.TransactionsActivity"
            android:label="@string/transactions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".features.ConsentsActivity"
            android:label="@string/consents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".features.CurrenciesRatesActivity"
            android:label="@string/currencies"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
    </application>
</manifest>
